<div class="container my-3">
  <h1 style="text-align: left">Product List :</h1>
  <div class="row g-0">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let mdata of myProduct">
      <a class="btn" routerLink = "/products/{{mdata.ProID}}">
      <div class="card mx-auto " style="width: 13rem;">
        <img src="{{mdata.ProImg}}" class="card-img-top mx-1 my-1" alt="...">
        <div class="cardtext">
          <p class="ms-2 mb-1" style="text-align: center;">{{mdata.ProName}}</p>
          <p class="ms-2 mb-1"style="text-align: right: ;">{{mdata.ProPrice| currency:"฿":"symbol" }}</p>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>