<div class="container">
<table class="justify-content-center mb-5">
    <thead>
        <tr style="text-align: center;">
            <th>OrderID</th>
            <th>NAME</th>
            <th>Total</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mdata of myOrder; let i=index">
            <td class="align-middle">#{{mdata.OrderId}}</td>
            <td class="align-middle">{{myUser.name}}</td>
            <td class="align-middle">{{mdata.OrderTotal| currency}}</td>
            <td class="align-middle">{{mdata.OrderAddress}}</td>
            <td class="align-middle"><a routerLink = "/myuser/orders/{{mdata.OrderId}}"><i class="bi bi-three-dots fs-4 dark" style="color: black;"></i></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
