table{
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: 6px 2px 8px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
}
table td:nth-child(1){
    width: 150px;
    text-align: center;
}
table td:nth-child(2),table td:nth-child(3){
    width: 150px;
    text-align: center;
}
table td:nth-child(4){
    width: 250px;
    text-align: left;
}
table td:nth-child(5){
    width: 100px;
    text-align: center;
}
table thead th{
    font-weight: 700;
    font-size: 13px;
    padding: 18px 0;
    border: 1px solid #e2e9e1;
    border-top: none;
    border-left: none;
    border-right: none;
}
table tbody tr{
    border-top: none;
    padding: 10px;
    height: 50px;
}
i:hover{
    color: red !important;
    transition: 3;
}