<div class="container my-3">
  <div class="row g-0">
    <div class="col-12 col-md-6 center">
      <img src="{{myProduct.ProImg}}" class="" alt="รูปโปรดัก">
    </div>
    <div class="col-12 col-md-6">
      <h5 class="card-title">{{myProduct.ProName}}</h5>
      <p class="card-text">{{myProduct.ProPrice| currency }}</p>
      <p style="font-size: 13px;">รายละเอียดสินค้า</p>
      <p style="font-size: 12px;">{{myProduct.ProDetail}}</p>
      <button class="btn btn-add-to-cart">Add to Cart</button>
    </div>
  </div>
</div>