.center {
    text-align: center;
}

.btn-add-to-cart {
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #FFC0CB;
    border: none;
    margin-top: 3px;
}

.btn-add-to-cart:hover {
    background-color: #dba4ad;
    transition: all 0.2s ease-in-out;
}
img{
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: #FFC0CB;
    box-shadow: 6px 2px 8px 4px rgba(0, 0, 0, 0.1);
}