<div class="container d-flex justify-content-center my-5">
  <div class="card bg-white text-dark align-items-center text-center"
    style="border-radius: 1rem; width: 750px; height: auto;">
    <div class="py-5">
      <h2 class="fw-bold mb-4 text-uppercase">Register</h2>
      <p class="text-dark-50 mb-5">Please enter your personal information!</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" placeholder="username" formControlName="username">
          <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
          <label for="password">Password</label>
        </div>
      <div class="row" style="width: 570px;">
        <div class="col-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
            <label for="name">First Name</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastname" placeholder="lastname" formControlName="lastname">
            <label for="lastname">Last Name</label>
          </div>
        </div>

        <div style="width: 570px;">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" placeholder="email" formControlName="email">
            <label for="email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="address" placeholder="address" formControlName="address"></textarea>
            <label for="address">Address</label>
          </div>
          <div class="form-floating mb-5">
            <input type="text" class="form-control" id="tel" placeholder="PhoneNumber" formControlName="tel">
            <label for="tel">Phone Number</label>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-dark btn-lg px-5" type="submit" style="width: 190px;">Register</button>

    </form>
    </div>
  </div>