<div class="container mb-3">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="box py-3 px-5" style="width: 750px;">
            <div class="mb-3 row">
                <label for="password" class="col-sm-3 col-form-label">Old-Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" formControlName="password">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="newpassword" class="col-sm-3 col-form-label">New-Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="newpassword" formControlName="newpassword">
                </div>
            </div>
            <div class=" d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mb-3" [disabled]="editForm.invalid">Change Confirm</button>
            </div>
        </div>
    </form>
     </div>
     
<div>
</div>
