.box{
    border: 2px solid rgb(208, 208, 208);
    background-color: rgb(245, 245, 245);
    border-radius: 2rem;
    word-wrap: break-word;
}
p{
    width: 100px;
    font-weight: bold;
}
.nav-link:hover{

    color: black!important;
}