<div class="my-4 container-fluid">
  <div class="">
        <div class="">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="//media.gucci.com/content/HeroRegularStandard_3200x1350/1680021962/HeroRegularStandard_Gucci-Blondie-Tophandle-Mar23-brown-leather_001_Default.jpg" class="d-block w-100 rounded-3" alt="px1">
                  </div>
                  <div class="carousel-item">
                    <img src="//media.gucci.com/content/HeroRegularStandard_3200x1350/1679501765/HeroRegularStandard_700457UN5BG2181_001_Default.jpg" class="d-block w-100 rounded-3" alt="px2">
                  </div>
                  <div class="carousel-item">
                    <img src="//media.gucci.com/content/HeroRegularStandard_3200x1350/1676039505/HeroRegularStandard_Gucci-Spring-Summer-23-002_001_Default.jpg" class="d-block w-100 rounded-3" alt="px3">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        <!-- <div class="">
            <img src="https://media.gucci.com/content/LightGray_CategoryDoubleVertical_Standard_926x1852/1678160826/CategoryDoubleVertical_SS23-Look-04_001_Light.jpg" class="d-block w-100 rounded-3" alt="...">
        </div> -->
      </div>
      
</div>
